extends ../base
include ../mixins/video

block content 
    header
        h1 Home
        ul
            li Join 
            li Login 
            li
                a(href="video/upload") Upload Video 
    main 
        each video in videos
            +video(video)