extends ../base

block content
    div.login.form__page 
        div.form__container
            h1 Login
            if errorMessage 
                span=errorMessage
            form(method="POST").form
                input(type="text" placeholder="ID" id="user-id" name="userId" required)
                input(type="password" placeholder="Password" id="password" name="password" required)
                div.form__btn
                    input(type="submit" value="Login").form__submit.form__login
                    a(href="/user/github/login").form__github Login with Github 
                div.form__link
                    a(href="/join") To Join Page ▶︎
