// Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

// Config
@import "./config/reset";
@import "./config/variables";

// Components
@import "./components/default-avatar.scss";
@import "./components/header.scss";
@import "./components/video.scss";
@import "./components/form.scss";
@import "./components/video-player.scss";
@import "./components/message.scss";

// Screens
@import "./screens/home.scss";
@import "./screens/login.scss";
@import "./screens/detail.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $darkGray;
}

main {
  padding-top: 100px;
}

.hidden {
  display: none;
}
