@keyframes messageAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.message {
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 260px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  z-index: 2000;
  animation: messageAnimation 3s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-50px);
  &.error {
    background-color: $red;
    color: white;
  }
  &.info {
    background-color: green;
    color: white;
  }
  &.success {
    background-color: blue;
    color: white;
  }
}
