extends ../base

block content
    div.recorder__box.hidden
        video.recorder__video
        button.recorder__btn Record Video
    div.upload.form__page
        div.form__container
            h1 Upload
            form(method="POST" enctype="multipart/form-data").form
                input(type="file" id="video" name="video" accept="video/*" required)
                input(type="file" id="thumb" name="thumb" accept="image/*" required)
                input(type="text" placeholder="Title" id="title" name="title" required)
                input(type="text" placeholder="Description" id="description" name="description" required)
                input(type="text" placeholder="Please separate them with commas" id="hashtags" name="hashtags")
                div.form__btn
                    input(type="submit" value="Upload").form__submit
    script(src="/static/js/recorder.js") 
    