extends ../base

block content
    div.video-edit.form__page
        div.form__container
            h1 #{video.title} Edit
            form(method="POST" enctype="multipart/form-data").form
                label(for="thumb") Thumbnail File
                input(type="file" id="thumb" name="thumb" accept="image/*")                
                input(type="text" value=video.title id="title" name="title")                
                input(type="text" value=video.description id="description" name="description")                
                input(type="text" value=video.hashtags.toString() id="hashtags" name="hashtags")
                div.form__btn        
                    input(type="submit" value="Edit").form__submit