header
    div.header__column
        a(href="/").header__logo
            i.fab.fa-youtube
            span WeTube
    div.header__column
        ul.header__list 
            if !loggedIn
                li  
                    a(href="/login") Login
                li 
                    a(href="/join") Join              
            if loggedIn
                li
                    a(href="/video/upload") Upload
                li.header__avatar
                    if loggedInUser.avatarUrl === ""
                        div.default__avatar
                            i.fas.fa-user
                    else
                        img(src=loggedInUser.avatarUrl)                 
    form(method="GET" action="/search").header__form   
        input(type="text" name="search" placeholder="Search")
        button
            i.fas.fa-search
    if loggedIn            
        div.avatar__menu
            ul
                li.list__exit
                    i.fas.fa-times
                li.list__profile
                    if loggedInUser.avatarUrl === ""
                        div.default__avatar
                            i.fas.fa-user
                    else
                        img(src= "/" + loggedInUser.avatarUrl)
                    span=loggedInUser.name
                li 
                    a(href=`/user/${loggedInUser._id}`) Profile
                li
                    a(href="/user/edit") Edit Profile
                li 
                    a(href="/user/logout") Logout 