header
    ul  
        li
            a(href="/")
                i.fab.fa-youtube
        if !loggedIn
            li  
                a(href="/login") Login
            li 
                a(href="/join") Join              
        if loggedIn
            li
                a(href="/video/upload") Upload Video        
            li 
                a(href=`/user/${loggedInUser._id}`)=loggedInUser.name
            li 
                a(href="/user/logout") Logout 
    form(method="GET" action="/search")     
        input(type="text" name="search")