extends ../base
include ../mixins/video

block content
    h1 Hello, #{user.name}!
    if user.avatarUrl !== ""
        img(src=user.avatarUrl.includes("github") ? user.avatarUrl : "/" + user.avatarUrl)
    if String(loggedInUser._id) === String(user._id)
        a(href="/user/edit") Edit Profile
    hr
    each video in user.videos 
        +video(video)