extends ../base

block content   
    div.password-change.form__page
        div.form__container
            h1 Password Change
            if errorMessage
                span.error-message=errorMessage
            form(method="POST").form
                input(type="password" placeholder="Current Password" id="currentPassword" name="currentPassword" required )                
                input(type="password" placeholder="New Password" id="newPassword" name="newPassword" required )                
                input(type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required )
                div.form__btn
                    input(type="submit" value="Change Password").form__submit
