extends ../base

block content   
    if errorMessage
        span=errorMessage
    form(method="POST")
        label(for="currentPassword") Current Password  
        input(type="password" placeholder="Current Password" id="currentPassword" name="currentPassword" required )
        label(for="newPassword") New Password
        input(type="password" placeholder="New Password" id="newPassword" name="newPassword" required )
        label(for="confirmPassword") Confirm Password
        input(type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required )
        input(type="submit" value="Change Password")   
