extends ../base

block content 
    div.user-delete.form__page
        div.form__container
            h1 Password Change
            if errorMessage
                span.error-message=errorMessage
            span.form__info If you want to delete your ID, please enter your password.
            form(method="POST").form
                input(type="password" placeholder="Password" id="password" name="password" required )
                div.form__btn
                    input(type="submit" value="Delete ID").form__submit